{% extends 'main.html.twig' %}

{% block body %}
    <div class="container-fluid" id="leaves">
        {#It`s elements for background animation#}
        <div class="items">
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
        </div>
        {#It`s elements for background animation#}

        <div class="container search-block">
            <h3>Search page</h3>
            <div class="row">
                <div class="col-md-4">
                    <p>Block for filter</p>
                </div>
                <div class="col-md-8">
                    <p>Block for content</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
