body {
  font-family: 'Roboto', sans-serif;
  margin-bottom: -50px;
}

.wrapper-canvas {
  width:100%;
  margin:0;
  overflow:hidden;

}


/* Menu style */

.nav-main {
  border-bottom: 1px solid #10bef2;
  z-index: 1;

  .main-logo img {
    width: 100%;
    max-width: 200px;
  }

  .nav {
    .active a {
      color: #10bef2 !important;
    }
  }
}

.mail-nav {
  color: #10bef2;

  svg {
    margin-right: 5px;
  }
}

.error-message {

  h4 {
    font-size: 1.2rem !important;
    margin-bottom: 5px;
    font-weight: 500;
  }

  hr {
    border-top-color: #f1d696 !important;
  }

  p {
    font-size: 14px;
  }
}

.display-block {
  display: block;
  margin-bottom: 10px;
}

.not-found {
  height: 110%;
  width: 110%;
  display: block;
  margin-left: -5%;
  margin-top: -5%;
  background-color: #ececec;

  img {
    width: 170%;
    margin-left: -33%;
    margin-top: 29%;
  }
}

/* Home form style */

#translateForm {
  margin-top: 10%;
  padding: 15px;
  box-shadow: 5px 5px 11px rgb(0 0 0 / 15%);
  border-radius: 10px;

  label {
    opacity: .4;
  }

  .btn-translate {
    margin-top: 20px;
    width: 100%;
    max-width: 150px;
    background: linear-gradient(#24dada, #558aea);
    color: #fff;
    letter-spacing: 0px;
    transition: all ease-in-out .5s;

    &:hover {
      background: linear-gradient(#558aea, #558aea);
      letter-spacing: 3px;
    }
  }
}

/* TagCloud style */

.tagcloud-bl{
  h3 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 100;
    color: #04bdf2;
    border-bottom: 1px solid #04bdf2;
    padding-bottom: 10px;
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
  }

  #tagcloud {
    height: 400px;
    margin: 5% 0 0;

    #loading-api {
      text-align: center;

      img {
        width: 100%;
        max-width: 300px;
        margin: 20px auto 0;
        display: block;
      }

      span {
        font-family: 'Bangers', cursive;
        background: #20DEDB;
        background: -webkit-repeating-radial-gradient(ellipse farthest-side at center center, #20DEDB 0%, #5983EB 100%);
        background: -moz-repeating-radial-gradient(ellipse farthest-side at center center, #20DEDB 0%, #5983EB 100%);
        background: repeating-radial-gradient(ellipse farthest-side at center center, #20DEDB 0%, #5983EB 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2.5rem;
      }
    }

    .init-cloud {
      transform: scale(1) !important;
    }

    .tagcloud {
      transition: 2s ease-in-out;
      transform: scale(.2);
      margin: 0 auto;
      font-size: 16px;

      .tagcloud--item {
        padding: 2px 4px;
        background-color: transparent;
        border: 1px solid transparent;
        cursor: pointer;
        color: #04bdf2;
      }

      .tagcloud--item:hover {
        background: linear-gradient(#04bdf2b5, #9198e5);
        color: #fff;
        border: 1px solid #04bdf2b5;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        opacity: 1 !important;
        z-index: 100 !important;
      }

      .light .tagcloud--item:hover {
        background-color: rgba(255, 255, 255, .1);
        border: 1px solid #fff;
      }
    }
  }
}

#canv {
  height: 600px !important;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: block;
}

/* Footer style */

.footer {
  margin-top: 5%;
  background-color: #212529;
  padding: 35px 0 1px;
  position: relative;
  z-index: 5;

  .logo-footer {
    width: 100%;
    max-width: 200px;
  }

  .title-footer {
    color: #c5c1c1;
    font-size: 1rem;
  }

  .footer-links {
    list-style: circle;

    li a {
      color: #868686;
      font-size: 12px;
    }
  }

  .created-bl {
    text-align: center;
    color: #fff;
    border-top: 1px solid #636363;
    padding-top: 10px;
    font-size: 10px;
  }
}

::marker {
  color: #868686;
}

/* Search style */
#leaves {

  .search-block {
    z-index: 1;

    h3 {
      text-align: center;
      font-weight: 100;
      color: #04bdf2;
      margin: 20px auto 5px;
    }

    .language-span {
      text-align: center;
      border-bottom: 1px solid #04bdf2;
      width: 100%;
      max-width: 200px;
      margin: 5px auto 20px;
      color: rgba(0,0,0,.5);
      padding-bottom: 5px;

      span {
        font-weight: bold;
        color: #212529;
      }
    }

  }
}


.feature-title {
  text-align: center;

  span {
    color: #04bdf2;
    text-transform: uppercase;
  }
}

.pronunciations-bl {
  text-align: center;
  margin-bottom: 15px;
}

.scroll-content {
  max-height: 425px;
  overflow: scroll;
  border: 1px solid #e9ecef;
  box-shadow: 10px 5px 5px #e9ecef;
  height: 425px;
  padding: 10px;
  margin-top: 100px;
}

.sub-title-feature {
  text-align: center;
  border-bottom: 1px solid #04bdf2;
  width: 100%;
  max-width: 200px;
  margin: 5px auto 20px;
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: 5px;
}

.ul-example {

  li {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
  }
}

.senses-bl {

  .sub-bl-feature {
    text-align: center;
  }

  ul {

    li {
      padding-bottom: 0px !important;
      padding-top: 0px !important;
    }
  }
}


/* leaf animations */

#leaves {

  .items {
    position: relative;
    top: -100px;
    width: 100%;
    text-align: right;

    i {
      display: inline-block;
      width: 200px;
      height: 150px;
      background: linear-gradient(to bottom right, #20DEDB, #04bdf2b5);
      transform: skew(20deg);
      border-radius: 5% 40% 70%;
      box-shadow: inset 0px 0px 1px #c1c1c1;
      border: 1px solid #c1c1c1;
      z-index: 1;
      -webkit-animation: falling 5s 0s infinite;

      &:nth-of-type(2n) { -webkit-animation: falling2 5s 0s infinite; }
      &:nth-of-type(3n) { -webkit-animation: falling3 5s 0s infinite; }

      &:before {
        position: absolute;
        content: '';
        top: 117px;
        right: 9px;
        height: 27px;
        width: 32px;
        transform: rotate(49deg);
        border-radius: 0% 15% 15% 0%;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #c1c1c1;
        border-left: 0px solid #c1c1c1;
        border-right: 1px solid #c1c1c1;
        background: linear-gradient(to right, #20DEDB, #04bdf2b5);
        z-index: 1;
      }

      &:after {
        content: '';
        height: 125px;
        width: 10px;
        background: linear-gradient(to right, #c1c1c1, #c5c5c5);
        display: block;
        transform: rotate(125deg);
        position: absolute;
        left: 85px;
        border-radius:50%;
      }

      &:nth-of-type(n)    { height:23px; width:30px; }
      &:nth-of-type(n):before { width:7px; height:5px; top:17px; right:1px; }
      &:nth-of-type(n):after { width:2px; height:17px; left: 12px; top:0px; }

      &:nth-of-type(2n+1)    { height:11px; width:16px; }
      &:nth-of-type(2n+1):before { width:4px; height:3px; top:7px; right:0px; }
      &:nth-of-type(2n+1):after { width:2px; height:6px; left: 5px; top:1px; }

      &:nth-of-type(3n+2)  { height:17px; width:23px; }
      &:nth-of-type(3n+2):before  { height:4px; width:4px; top:12px; right:1px; }
      &:nth-of-type(3n+2):after  { height:10px; width:2px; top:1px; left:8px; }

      &:nth-of-type(n)   { -webkit-animation-delay: 1.9s;}
      &:nth-of-type(2n)  { -webkit-animation-delay: 3.9s;}
      &:nth-of-type(3n)  { -webkit-animation-delay: 2.3s;}
      &:nth-of-type(4n)  { -webkit-animation-delay: 4.4s;}
      &:nth-of-type(5n)  { -webkit-animation-delay: 5s;  }
      &:nth-of-type(6n)  { -webkit-animation-delay: 3.5s;}
      &:nth-of-type(7n)  { -webkit-animation-delay: 2.8s;}
      &:nth-of-type(8n)  { -webkit-animation-delay: 1.5s;}
      &:nth-of-type(9n)  { -webkit-animation-delay: 3.3s;}
      &:nth-of-type(10n) { -webkit-animation-delay: 2.5s;}
      &:nth-of-type(11n) { -webkit-animation-delay: 1.2s;}
      &:nth-of-type(12n) { -webkit-animation-delay: 4.1s;}
      &:nth-of-type(13n) { -webkit-animation-delay: 1s;  }
      &:nth-of-type(14n) { -webkit-animation-delay: 4.7s;}
      &:nth-of-type(15n) { -webkit-animation-delay: 3s;  }

      &:nth-of-type(n)    { background: linear-gradient(to bottom right, #04bdf2b5, #5983EB); }
      &:nth-of-type(2n+2)  { background: linear-gradient(to bottom right, #04bdd2b1, #5983EB); }
      &:nth-of-type(4n+1)  { background: linear-gradient(to bottom right, #04bdf2b5, #5983EB); }

      &:nth-of-type(n)    { opacity: .4;}
      &:nth-of-type(3n+1)  { opacity: .2;}
      &:nth-of-type(3n+2)  { opacity: .1;}

      &:nth-of-type(n)    {transform: rotate(180deg);}

      &:nth-of-type(n) { -webkit-animation-timing-function:ease-in-out;}

    }
  }
}

@-webkit-keyframes falling {

  0% {
    -webkit-transform:
            translate3d(300,0,0)
            rotate(0deg);
  }

  100% {
    -webkit-transform:
            translate3d(-350px,700px,0)
            rotate(90deg);
    opacity: 0;
  }
}

@-webkit-keyframes falling3 {
  0% {
    -webkit-transform:
            translate3d(0,0,0)
            rotate(-20deg);
  }

  100% {
    -webkit-transform:
            translate3d(-230px,640px,0)
            rotate(-70deg);
    opacity: 0;
  }
}

@-webkit-keyframes falling2 {
  0% {
    -webkit-transform:
            translate3d(0,0,0)
            rotate(90deg);
  }

  100% {
    -webkit-transform:
            translate3d(-400px,680px,0)
            rotate(0deg);
    opacity: 0;
  }
}


/* Search slider */

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0
}

html {
  display: block;
  position: relative;
  width: 100%;
  height: 100%
}
body {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: #fff;
  color: #000;
  //font-size: 8px;
  line-height: 14px;
  -webkit-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased
}
header,
section,
footer {
  display: block;
  position: relative;
  min-width: 880px
}
header .box,
section .box,
footer .box {
  display: block;
  position: relative;
  width: 860px;
  min-width: 860px;
  margin: 0 auto
}
@media all and (max-width: 860px) {
  header,
  section,
  footer {
    width: 100% !important;
    min-width: 600px !important
  }
  header .box,
  section .box,
  footer .box {
    width: 100% !important;
    min-width: 600px !important;
    padding: 1em !important
  }
}
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
@keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn
}
#features {
  text-align: center
}
#features .features-title {
  display: inline-block;
  position: relative;
  color: #404040;
  font-size: 32px;
  font-weight: 400;
  line-height: 46px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 1em 0
}
#features .features-title::after {
  display: block;
  position: absolute;
  bottom: -.2em;
  left: 50%;
  margin-left: -40px;
  content: "";
  width: 80px;
  height: 3px;
  background-color: #00BFF3;
}
#features .features-content {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  padding-bottom: 5em;
  margin-bottom: 5em;
  border-bottom: 2px solid #e5f7fb
}
#features .features-content+.features-content {
  border: 0
}
#features .features-content-col {
  width: 50%;
  text-align: left
}
#features .features-textblock {
  display: none;
  position: relative
}
#features .features-textblock.__active {
  display: block
}
#features .features-textblock h1,
#features .features-textblock h2,
#features .features-textblock h3,
#features .features-textblock h4,
#features .features-textblock h5 {
  color: #404040;
  font-weight: 900;
  padding: 0;
  font-size: 1.5em
}
#features .features-textblock p {
  color: #404040;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.7em
}
#features .features-textblock ul {
  margin: 0;
  padding: 0 2em;
  list-style: none
}
#features .features-textblock ul li {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  text-indent: -5px;
  color: #404040;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.7em;
  padding: 0.7em 0
}
#features .features-textblock ul li:before {
  display: inline-block;
  position: relative;
  top: -1px;
  left: -11px;
  content: '';
  width: 5px;
  height: 5px;
  background-color: #00b0de;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%
}
#features .features-graph {
  height: 425px;
  margin: 25px
}
#features .features-graph .button-holder {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center
}
#features .features-graph .animation-holder {
  display: flex;
  justify-content: center;
  align-items: center
}
#features .features-graph .flash-oval {
  background-color: #00bff3;
  width: 6em;
  height: 6em;
  border-radius: 7em;
  -webkit-transform: translateX(1px);
  -ms-transform: translateX(1px);
  transform: translateX(1px);
  z-index: 100;
  margin: 10em auto 9em auto
}
#features .features-graph .flash-oval img {
  position: absolute;
  right: 32px;
  top: 23px;
}
#features .features-graph .btn-with-icon {
  display: block;
  width: 70px;
  height: 70px;
  background-color: #fff;
  border: 1px solid #9df;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  transition-duration: 0.3s;
  background-position: center;
  background-repeat: no-repeat;
  line-height: 5em;
  z-index: 0;
  cursor: pointer;
  margin-left: 8%;
  margin-right: 8%;
  text-align: center;
  opacity: 0.5;
  filter: alpha(opacity=50)
}


#features .features-graph .btn-with-icon.__active {
  opacity: 1;
  filter: alpha(opacity=100)
}
#features .features-graph .btn-with-icon:hover {
  opacity: 1
}
#features .features-graph .sq-bt-label {
  letter-spacing: 0;
  color: #656b6f;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  position: absolute;
  text-transform: uppercase
}
#features .features-graph .label-top-left {
  right: 37.8%;
  top: 33%;
}
#features .features-graph .label-top {
  right: 19.5%;
  top: 33%
}
#features .features-graph .label-top-right {
  right: 5.9%;
  top: 33%
}
#features .features-graph .label-bottom-left {
  right: 35.1%;
  bottom: 13%;
}
#features .features-graph .label-bottom {
  right: 21.1%;
  bottom: 13%;
}
#features .features-graph .label-bottom-right {
  right: 5.8%;
  bottom: 13%;
}
#features .features-graph .icon-features-1:after {
  content: ' ';
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/598117/top-left.svg);
  background-size: 100%;
  height: 110px;
  width: 85px;
  background-repeat: no-repeat;
  position: absolute;
  top: 42%
}
#features .features-graph .icon-features-2:after {
  content: ' ';
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/598117/top.svg);
  height: 110px;
  width: 85px;
  background-repeat: no-repeat;
  position: absolute;
  top: 41.4%;
}
#features .features-graph .icon-features-3:after {
  content: ' ';
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/598117/top-right.svg);
  background-size: 100%;
  height: 110px;
  width: 85px;
  background-repeat: no-repeat;
  position: absolute;
  top: 42%;
  right: 10%
}
#features .features-graph .icon-features-4:after {
  content: ' ';
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/598117/bottom-left.svg);
  background-size: 100%;
  height: 110px;
  width: 85px;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 19%
}
#features .features-graph .icon-features-5:after {
  content: ' ';
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/598117/bottom.svg);
  height: 110px;
  width: 85px;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 15%
}
#features .features-graph .icon-features-6:after {
  content: ' ';
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/598117/bottom-right.svg);
  background-size: 100%;
  height: 110px;
  width: 85px;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 19%;
  right: 10%
}
#features .features-graph #top-left-line {
  position: absolute;
  top: 170px;
  left: 50px;
  z-index: -4
}
#features .features-graph .icon-features-1 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/598117/icon-1.svg);
  background-size: 150%;
  background-position: 50% 0
}
#features .features-graph .icon-features-2 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/598117/icon-2.svg);
  background-size: 70%;
  background-position: 50% 50%
}
#features .features-graph .icon-features-3 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/598117/icon-3.svg);
  background-size: 65%
}
#features .features-graph .icon-features-4 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/598117/icon-4.svg);
  background-size: 150%;
  background-position: 50% 0
}
#features .features-graph .icon-features-5 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/598117/icon-5.svg);
  background-size: 150%
}
#features .features-graph .icon-features-6 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/598117/icon-6.svg);
  background-size: 65%;
  background-position: 50% 50%
}


#features .features-graph .wave {
  position: absolute;
  opacity: 0;
  width: 6em;
  height: 6em;
  border: #56a9e8 1px solid;
  border-radius: 7em;
  -webkit-animation-name: ripple;
  animation-name: ripple;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: linear;
  animation-iteration-count: linear;
  text-align: center;
  top: 0
}
#features .features-graph .wave2 {
  position: absolute;
  opacity: 0;
  width: 6em;
  height: 6em;
  border: #56a9e8 1px solid;
  border-radius: 7em;
  -webkit-animation-name: ripple2;
  animation-name: ripple2;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: linear;
  animation-iteration-count: linear;
  top: 0;
  text-align: center
}
#features .features-graph .wave3 {
  position: absolute;
  opacity: 0;
  width: 6em;
  height: 6em;
  border: #56a9e8 1px solid;
  border-radius: 7em;
  -webkit-animation-name: ripple3;
  animation-name: ripple3;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: linear;
  animation-iteration-count: linear;
  text-align: center;
  top: 0
}
#features .features-graph .wave4 {
  position: absolute;
  opacity: 0;
  width: 6em;
  height: 6em;
  border: #56a9e8 1px solid;
  border-radius: 7em;
  -webkit-animation-name: ripple4;
  animation-name: ripple4;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: linear;
  animation-iteration-count: linear;
  text-align: center;
  top: 0
}
@-webkit-keyframes ripple {
  from {
    opacity: 0.8
  }
  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0
  }
}
@keyframes ripple {
  from {
    opacity: 0.8
  }
  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0
  }
}
@-webkit-keyframes ripple2 {
  from {
    opacity: 0.7
  }
  to {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0
  }
}
@keyframes ripple2 {
  from {
    opacity: 0.7
  }
  to {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0
  }
}
@-webkit-keyframes ripple3 {
  from {
    opacity: 0.7
  }
  to {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0
  }
}
@keyframes ripple3 {
  from {
    opacity: 0.7
  }
  to {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0
  }
}
@-webkit-keyframes ripple4 {
  from {
    opacity: 0.6
  }
  to {
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
    opacity: 0
  }
}
@keyframes ripple4 {
  from {
    opacity: 0.4
  }
  to {
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
    opacity: 0
  }
}
#features .features-items {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 0
}
#features .features-items li {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 50%;
  text-align: left;
  padding: 20px 50px 20px 20px
}

.hidden {display:none;}
.visible {display:block;}

#features .features-textblock p {
  color: #404040;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.7em
}
#features .features-textblock ul {
  margin: 0;
  padding: 0 2em;
  list-style: none
}
#features .features-textblock ul li {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  text-indent: -5px;
  color: #404040;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.7em;
  padding: 0.7em 0
}
#features .features-textblock ul li:before {
  display: inline-block;
  position: relative;
  top: -1px;
  left: -11px;
  content: '';
  width: 5px;
  height: 5px;
  background-color: #00b0de;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%
}
#features .features-graph {
  height: 425px;
  margin: 25px
}
#features .features-graph .button-holder {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center
}
#features .features-graph .animation-holder {
  display: flex;
  justify-content: center;
  align-items: center
}
#features .features-graph .flash-oval {
  background-color: #00bff3;
  width: 6em;
  height: 6em;
  border-radius: 7em;
  -webkit-transform: translateX(1px);
  -ms-transform: translateX(1px);
  transform: translateX(1px);
  z-index: 100;
  margin: 10em auto 9em auto
}
#features .features-graph .flash-oval img {
  position: absolute;
  right: 22px;
  top: 23px;
  width: 50px;
}






/* Import fonts */

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@300&display=swap');
