<div id="tagcloud">
    <div id="loading-api">
        <img src="{{ asset('img/loading.gif') }}" alt="api loading">
        <span>Loading...</span>
    </div>

    <canvas id='canv'></canvas>
</div>
<h3>Our 50 popular words</h3>